* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0px;
  overflow:hidden;
  font-style: normal;
  font-family: halyard-display, sans-serif;
}

.background {
  height: 100vh;
  width: 100vw;
  background-repeat: repeat;
  background-image: url('assets/childhood.jpg');
  background-size: 25%;
  filter: blur(1.5px);
}

.main-wrap {
  display: flex;
  flex-flow: column;

  border: 5px solid red;
  height: 98%;
  width: 98%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  max-height: 98%;
}

.main-wrap > * {
  /* flex: 1 100%; */
}

/* NAVIGATION
--------------------------------------- */
.nav-wrap {
  display: block;
  flex-direction:row;
  /* flex-grow: 1; */

}

.nav {
  /* list-style-type: none; */
  display: flex;
  justify-content: space-between;
  /* padding-left:12px; */
  padding-top: 24px;
  padding-left: 12px;
  padding-right: 24px;
  padding-bottom: 24px;
  border-bottom: 5px solid red;
}

#btn {
  /* padding-left:10%;
  padding-right:10%; */
  width: 240px;
  cursor: pointer;
}

#b:hover {}

div#btn span#a {
  display: inline;
}

div#btn:hover span#a {
  display: none;
}

div#btn span#b {
  display: none;
}

div#btn:hover span#b {
  display: inline;
}

div#btn span#c {
  display: inline;
}

div#btn:hover span#c {
  display: none;
}

div#btn span#d {
  display: none;
}

div#btn:hover span#d {
  display: inline;
}

/* STATEMENT
--------------------------------------- */

.statement-wrap {
  /* border-top: 5px solid red; */
  border-bottom: 5px solid red;
  padding-top: 8px;
  padding-bottom: 5px;
}

.statement {
  margin: 0px;
}

/* .statement marquee {
  background-color: red;
  left: 50%;
  margin: auto;
  z-index: -1;
  display: inline-block;
  font-size: 32px;
}

.marquee {
  text-transform: uppercase;
  font-weight: 300;
  color: blue;
} */

#statement {
  /* These are absolutely necessary */
  overflow: hidden;
  white-space: nowrap;
  position: relative;

  background-color: red;
  color: blue;
  font-weight: 300;
  font-size: 2em;
  text-transform: uppercase;
  z-index: -1;
  letter-spacing: .04em;
}

#marquee1 {
  display: inline-block;
  animation: marquee 20s linear infinite;
}

#marquee2 {
  display: inline-block;
  animation: marquee2 20s linear infinite;
  /* Must be half the animation duration of both divs so it stats in sync to fill void left by completed transtition of first div */
  animation-delay: 10s;
}

@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes marquee2 {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-200%);
  }
}


/* NAME
--------------------------------------- */
.name-wrap {
  width:100%;
  display: flex;
  /* top: 50%; */
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

#name {
  width:100%;
  max-width:65%;
}

div#name span#e {
  display: inline;
}

div#name:hover span#e {
  display: none;
}

div#name span#f {
  display: none;
}

div#name:hover span#f {
  display: inline;
}
