* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0px;
  overflow:hidden;
  font-style: normal;
  font-family: halyard-display, sans-serif;
}

.background {
  height: 100vh;
  width: 100vw;
  background-repeat: repeat;
  background-image: url('assets/childhood.jpg');
  background-size: 25%;
  filter: blur(1.5px);
}

.main-wrap {
  display: flex;
  flex-flow: column;

  border: 5px solid red;
  height: 98%;
  width: 98%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  max-height: 98%;
}

.main-wrap > * {
  /* flex: 1 100%; */
}

::selection {
  background: blue;
}

/* NAVIGATION
--------------------------------------- */
a {
 color: inherit;
}

.nav-wrap {
  display: block;
  /* padding: 15px; */
  /* padding-left: 50px; */
  /* padding-right: 50px; */
  /* display: flex; */
  /* flex-direction:row; */
  /* justify-content: space-between; */
  /* flex-grow: 1; */
}

.nav {
  /* list-style-type: none; */
  display: flex;
  justify-content: space-between;
  /* padding-left:12px; */
  padding-top: 24px;
  padding-left: 12px;
  padding-right: 24px;
  padding-bottom: 24px;
  border-bottom: 5px solid red;
}

[class*="col-"] {
  /* float: left; */
  /* padding: 15px; */
  overflow: hidden;
}

.col-1 {
  width: 25%;
  border: 5px solid blue;
  background-color: red;
  color: blue
}

.col-2 {
  width: 25%;
  border: 5px solid red;
  background-color: blue;
  color: red
}

.marquee-btn {
  letter-spacing: -.05em;
  font-size: 5em;
  font-weight: 300;
  text-transform: uppercase;
  background: red;
}

.marquee-btn2 {
  letter-spacing: -.05em;
  font-size: 5em;
  font-weight: 300;
  text-transform: uppercase;
  background: blue;
}

.marquee-btn:hover {
  color: red;
}

.marquee-btn2:hover {
  color: blue;
}

.col-1:hover {
  border: 5px solid red;
  background: blue;
}

.col-2:hover {
  border: 5px solid blue;
  background: red;
}

#btn {
  /* padding-left:10%;
  padding-right:10%; */
  width: 240px;
  cursor: pointer;
}

#b:hover {}

div#btn span#a {
  display: inline;
}

div#btn:hover span#a {
  display: none;
}

div#btn span#b {
  display: none;
}

div#btn:hover span#b {
  display: inline;
}

div#btn span#c {
  display: inline;
}

div#btn:hover span#c {
  display: none;
}

div#btn span#d {
  display: none;
}

div#btn:hover span#d {
  display: inline;
}

/* STATEMENT
--------------------------------------- */

.statement-wrap {
  /* border-top: 5px solid red; */
  border-bottom: 5px solid red;
  padding-top: 8px;
  padding-bottom: 5px;
}

.statement {
  margin: 0px;
}

/* .statement marquee {
  background-color: red;
  left: 50%;
  margin: auto;
  z-index: -1;
  display: inline-block;
  font-size: 32px;
}

.marquee {
  text-transform: uppercase;
  font-weight: 300;
  color: blue;
} */

#statement {
  /* These are absolutely necessary */
  overflow: hidden;
  white-space: nowrap;
  position: relative;

  background-color: red;
  color: blue;
  font-weight: 300;
  font-size: 2em;
  text-transform: uppercase;
  z-index: -1;
  letter-spacing: .04em;
}

/* NAME
--------------------------------------- */
.name-wrap {
  width:100%;
  display: flex;
  /* top: 50%; */
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

#name {
  width:100%;
  max-width:65%;
}

div#name span#e {
  display: inline;
}

div#name:hover span#e {
  display: none;
}

div#name span#f {
  display: none;
}

div#name:hover span#f {
  display: inline;
}
