* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0px;
  overflow:hidden;
  font-style: normal;
  font-family: halyard-display, sans-serif;
}

.background {
  height: 100vh;
  width: 100vw;
  background-repeat: repeat;
  background-image: url('assets/childhood.jpg');
  background-size: 25%;
  filter: blur(1.5px);
}

.main-wrap {
  display: flex;
  flex-flow: column;

  border: 5px solid red;
  height: 98%;
  width: 98%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  max-height: 98%;
}

.main-wrap > * {
  /* flex: 1 100%; */
}

::selection {
  background: blue;
}

/* NAVIGATION
--------------------------------------- */
a {
 color: inherit;
}

.nav-wrap {
  display: block;
}

.nav {
  /* list-style-type: none; */
  display: flex;
  justify-content: space-between;
  /* padding-left:12px; */
  padding-top: 24px;
  padding-left: 12px;
  padding-right: 24px;
  padding-bottom: 24px;
  border-bottom: 5px solid red;
}

[class*="col-"] {
  /* float: left; */
  /* padding: 15px; */
  overflow: hidden;
}

.col-1 {
  width: 25%;
  border: 5px solid blue;
  background-color: red;
  color: blue
}

.col-2 {
  width: 25%;
  border: 5px solid red;
  background-color: blue;
  color: red
}

.marquee-btn {
  letter-spacing: -.05em;
  font-size: 5em;
  font-weight: 300;
  text-transform: uppercase;
  background: red;
}

.marquee-btn2 {
  letter-spacing: -.05em;
  font-size: 5em;
  font-weight: 300;
  text-transform: uppercase;
  background: blue;
}

.marquee-btn:hover {
  color: red;
}

.marquee-btn2:hover {
  color: blue;
}

.col-1:hover {
  border: 5px solid red;
  background: blue;
}

.col-2:hover {
  border: 5px solid blue;
  background: red;
}

/* STATEMENT
--------------------------------------- */

.statement-wrap {
  border-bottom: 5px solid red;
  padding-top: 8px;
  padding-bottom: 5px;
}

#statement {
  /* These are absolutely necessary */
  overflow: hidden;
  white-space: nowrap;
  position: relative;

  background-color: red;
  color: blue;
  font-weight: 300;
  font-size: 2em;
  text-transform: uppercase;
  z-index: -1;
  letter-spacing: .04em;
}

/* DATE AND TIME
--------------------------------------- */
.date-wrap {
  /* width: 35%; */
  color: red;
  padding: 15px;
  padding-left: 30px;
  max-width: 20%;
}

.date {
  border: 5px solid red;
  background: blue;
  padding: 15px;
  /* position: relative; */
  overflow: hidden;
}

.date-header h1 {
  font-family: a-otf-ryumin-pr6n, serif;
  font-weight: 300;
  font-style: normal;
  font-size: 2.1em;
  line-height: 1em;
  text-align: center;
  letter-spacing: -.03em;
  margin:0px;
  padding-bottom: 10px;
  border-bottom: 5px dashed red;
}

.date-copy {
  font-family: halyard-text, sans-serif;
  font-size: 1.5em;
  line-height: 1em;
  letter-spacing: -.03em;
  text-align: center;
  margin: 0px;
  padding-top: 15px;
  padding-bottom: 5px;
}

.fortune {
  padding-top: 10px;
}

button {
  font-family: halyard-text, sans-serif;
  color: blue;
  border-color: blue;
  background-color: red;
}

:focus {
  outline: none;
}


/* NAME
--------------------------------------- */
.name-wrap {
  width:100%;
  display: flex;
  /* top: 50%; */
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

#name {
  width:100%;
  max-width:65%;
  padding: 25px;
}

div#name span#e {
  display: inline;
}

div#name:hover span#e {
  display: none;
}

div#name span#f {
  display: none;
}

div#name:hover span#f {
  display: inline;
}
