.wrapper {
  display: flex;
  flex-flow: row wrap;
  height:100vh;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.header {
  background: tomato;
}

.footer {
  background: lightgreen;
}

.main {
  background: deepskyblue;
}
