* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0px;
}

/* .container-wrap {
  height: 100vh;
  width: 100vw;
  padding: 12px;
} */
.main-wrap {
  border: 5px solid red;
  height: 98%;
  width: 98%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  /* padding: 15px;
  padding-right: 100px; */
}

.wrap {

}

/* NAVIGATION
--------------------------------------- */
.nav-wrap {
  display: block;
  /* padding: 24px; */
}

.header {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  /* padding-left:12px; */
  padding-top: 24px;
  padding-left: 12px;
  padding-right: 24px;
  padding-bottom: 24px;
  /* border: 5px solid red; */
  border-bottom: 5px solid red;
}

#btn {
  /* padding-left:10%;
  padding-right:10%; */
  width: 240px;
  cursor: pointer;
}

#b:hover {}

div#btn span#a {
  display: inline;
}

div#btn:hover span#a {
  display: none;
}

div#btn span#b {
  display: none;
}

div#btn:hover span#b {
  display: inline;
}

div#btn span#c {
  display: inline;
}

div#btn:hover span#c {
  display: none;
}

div#btn span#d {
  display: none;
}

div#btn:hover span#d {
  display: inline;
}

/* STATEMENT
--------------------------------------- */
.statement-wrap {
  width: 100%;
  padding-top: 8px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 3px;
  position: absolute;
  border-bottom: 5px solid red;
}

/* NAME
--------------------------------------- */
.name-wrap {
  display:flex;
  justify-content: center;
  align-items:center;
  margin-right: auto;
  margin-left: auto;
  padding-right: 2.25%;
  padding-left: 2.25%;
}

#name {
  display:flex;
  margin-top: 2.25%;
  margin-bottom: 2.25%;
  position: relative;
  width: 100%;
  max-width: 70%;
  max-height: 50%;
}

div#name span#e {
  display: inline;
}

div#name:hover span#e {
  display: none;
}

div#name span#f {
  display: none;
}

div#name:hover span#f {
  display: inline;
}
