body {
  margin: 0;
  font-weight: normal;
  font-style: normal;
  font-family: halyard-display, sans-serif;
  font-weight: 500;
  font-style: normal;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.background {
  height: 100vh;
  width: 100vw;
  background-repeat: repeat;
  background-image: url('../assets/childhood.jpg');
  background-size: 25%;
  filter: blur(1.5px);
}

.main-wrap {
  border: 5px solid red;
  height: 98%;
  width: 70%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  overflow: scroll;
}

.wrap {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 3%;
  padding-right: 2.25%;
  padding-left: 2.25%;
  padding-bottom: 2%;
}

/* NAVIGATION
--------------------------------------- */
a {
 color: inherit;
}

.nav-wrap {
  display: block;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  padding-left: 12px;
  padding-right: 24px;
  padding-bottom: 24px;
  border-bottom: 5px solid red;
}

[class*="col-"] {
  overflow: hidden;
}

.col-1 {
  width: 25%;
  border: 5px solid blue;
  background-color: red;
  color: blue
}

.col-2 {
  width: 25%;
  border: 5px solid red;
  background-color: blue;
  color: red
}

.marquee-btn {
  letter-spacing: -.05em;
  font-size: 5em;
  font-weight: 300;
  text-transform: uppercase;
  background: red;
}

.marquee-btn2 {
  letter-spacing: -.05em;
  font-size: 5em;
  font-weight: 300;
  text-transform: uppercase;
  background: blue;
}

.marquee-btn:hover {
  color: red;
}

.marquee-btn2:hover {
  color: blue;
}

.col-1:hover {
  border: 5px solid red;
  background: blue;
}

.col-2:hover {
  border: 5px solid blue;
  background: red;
}

/* HOVER STATE
--------------------------------------- */
/* .wrap a:hover:after {
  content: url('assets/the-ct-02.12.20-Spectrum-AC.jpg');
  object-fit: contain;
  transform: translateX(-50%);
  width: 49.5%;
  position: relative;
  z-index: 9999;
  padding: 25px;
  vertical-align: middle;
} */

div.y3s2-3 span#a {
  display: none;
}

div.y3s2-3:hover span#a {
  display: inline;
}

div.y3s2-3 span#a {
  object-fit: contain;
  transform: translateX(-50%);
  width: 12.5%;
  position: relative;
  z-index: 9999;
  padding: 25px;
  vertical-align: middle;
}

/* .wrap y3s2-3 img:hover {
  object-fit: contain;
  transform: translateX(-50%);
  width: 49.5%;
  position: relative;
  z-index: 9999;
  padding: 25px;
  vertical-align: middle;
} */


/* PAGE CONTENT
--------------------------------------- */
.content {
  clear: both;
  /* cursor:s-resize; */
}

.page-content {
  width: 100%;
}

.caption {
  font-family: halyard-text, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  color: red;
  clear: both;
  line-height: 22px;
  text-align: center;
  margin: 5% auto 0% auto;
  max-width: 800px;
  width: 50%;
}

.project img {
  margin-top: 2.25%;
  margin-bottom: 2.25%;
}

.full-size img {
  margin-top: 2.25%;
  margin-bottom: 2.25%;
  position: relative;
  transform-origin: 50% 50%;
  left: 48%;
  width: 75%;
  width: 75%;
  box-sizing: border-box;
  transform: translateX(-50%);
}

.text {
  font-size: 80px;
  text-transform: uppercase;
  line-height: 58px;
  text-align: center;
  padding-top: 18px;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 18px;
  /* border-bottom: 1px solid red; */
}

p1 {
  color: red;
}

p1:hover {
  color: blue;
}

p2 {
  color: blue;
}

p2:hover {
  color: red;
}

a {
  text-decoration: none;
}

.color a {
  position: relative;
  background-color: blue;
}

.color2 a {
  position: relative;
  background-color: red;
}

.color .title-color {
  background-color: blue;
  left: 50%;
  margin: auto;
  z-index: -1;
  display: inline-block
}

.color2 .title-color {
  background-color: red;
  left: 50%;
  margin: auto;
  z-index: -1;
  display: inline-block
}
