body {
  margin: 0;
  font-weight: normal;
  font-style: normal;
  font-family: halyard-display, sans-serif;
  font-weight: 500;
  font-style: normal;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.background {
  height: 100vh;
  width: 100vw;
  background-repeat: repeat;
  background-image: url('../assets/childhood.jpg');
  background-size: 25%;
  filter: blur(1.5px);
  position: fixed;
}

.main-wrap {
  border: 5px solid red;
  height: 98%;
  width: 68%;
  position: relative;
  top: 0;
  left: 0;

  overflow: scroll;
}

.wrap {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 3%;
  padding-right: 2.25%;
  padding-left: 2.25%;
  padding-bottom: 2%;
}

/* NAVIGATION
--------------------------------------- */
a {
 color: inherit;
}

.nav-wrap {
  display: block;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  padding-left: 12px;
  padding-right: 24px;
  padding-bottom: 24px;
  border-bottom: 5px solid red;
}

[class*="col-"] {
  overflow: hidden;
}

.col-1 {
  width: 25%;
  border: 5px solid blue;
  background-color: red;
  color: blue
}

.col-2 {
  width: 25%;
  border: 5px solid red;
  background-color: blue;
  color: red
}

.marquee-btn {
  letter-spacing: -.05em;
  font-size: 5em;
  font-weight: 300;
  text-transform: uppercase;
  background: red;
}

.marquee-btn2 {
  letter-spacing: -.05em;
  font-size: 5em;
  font-weight: 300;
  text-transform: uppercase;
  background: blue;
}

.marquee-btn:hover {
  color: red;
}

.marquee-btn2:hover {
  color: blue;
}

.col-1:hover {
  border: 5px solid red;
  background: blue;
}

.col-2:hover {
  border: 5px solid blue;
  background: red;
}

/* HOVER STATE
--------------------------------------- */
.toolspan {
  position:relative;
  display: inline-block;
  cursor: help;
}

.toolspan span {
  display:none;
  border: 5px solid red;
  z-index: 9999;
}

.tooltip p1 {
  padding:1rem;
}

.toolspan:hover span {
  display:block;
  position:fixed;
  overflow:hidden;
}

.tooltip img {
  max-height: 400px;
  margin: 0;
  padding: 0;
}

/* PAGE CONTENT
--------------------------------------- */
.page-content {
  width: 100%;
}

.caption {
  font-family: halyard-text, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  color: red;
  clear: both;
  line-height: 22px;
  text-align: center;
  margin: 5% auto 0% auto;
  max-width: 800px;
  width: 50%;
}

.project img {
  margin-top: 2.25%;
  margin-bottom: 2.25%;
}

.full-size img {
  margin-top: 2.25%;
  margin-bottom: 2.25%;
  position: relative;
  transform-origin: 50% 50%;
  left: 48%;
  width: 75%;
  width: 75%;
  box-sizing: border-box;
  transform: translateX(-50%);
}

.text {
  font-size: 80px;
  text-transform: uppercase;
  line-height: 58px;
  text-align: center;
  padding-top: 18px;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 18px;
}

a {
  text-decoration: none;
}

.color a {
  position: relative;
  background-color: blue;
}

.color2 a {
  position: relative;
  background-color: red;
}

.color {
  background-color: blue;
  margin: auto;
  z-index: -1;
  display: inline-block;
  color: red;
}

.color2 {
  background-color: red;
  margin: auto;
  z-index: -1;
  display: inline-block;
  color: blue;
}
